repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: python -m isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: python -m black
        language: system
        types: [python]
      - id: ruff
        name: ruff
        entry: python -m ruff check
        language: system
        types: [python]

